<!--
  Title: Archive: Photo Blog
  Slug: lsx-design/template-archive-photo-blog
  Description: Archive template for image-first photo blog listings. Uses a dedicated query-loop/photo-grid pattern optimized for visual archives.
  Categories: lsx-design/templates, lsx-design/posts
  Keywords: archive, photo, gallery, posts, blog, image-first
  Viewport Width: 1200
  Template Types: archive
  Inserter: no
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
  Notes:
    - Replace any legacy pattern slugs (ollie, twentytwentyfive) with lsx-design/* when migrating.
    - This is a block-theme template (HTML). Ensure referenced patterns exist under /patterns/ with matching slugs.
-->

<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:query-title {"type":"archive","textAlign":"center"} /-->
	<!-- wp:term-description {"textAlign":"center"} /-->
	<!-- wp:pattern {"slug":"lsx-design/template-query-loop-photo-blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->