<!--
  Template: Archive — Post Type Specific
  Title: Archive — Post Type Specific
  Slug: archive-{post_type}
  Description: Specific post type archive template. Replace {post_type} with your CPT slug (e.g., archive-product.html). Includes skip-links, header, menu, breadcrumbs, hero, Query Loop scoped to the post type, pagination and footer.
  Template Types: archive
  Block Types: core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1200
  Template Parts: skip-links, header, menu, breadcrumbs, hero, loop-default, footer
  Suggested Patterns: lsx-design/hero-archives, lsx-design/query-grid-2col, lsx-design/breadcrumbs
  Keywords: archive, post type
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
  Notes: Duplicate and rename to archive-{post_type}.html for specific CPTs.
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:template-part {"slug":"hero"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->
  <!-- wp:query-pagination /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->