<!--
  Template: Attachment — Media Attachment
  Title: Attachment — Media Attachment
  Slug: attachment
  Description: Media attachment display template. Shows the attachment (image/video) with caption and metadata, a link back to the parent post, optional comments, breadcrumbs and footer.
  Template Types: attachment
  Block Types: core/image, core/media-text, core/template-part
  Post Types: attachment
  Inserter: false
  Viewport Width: 1000
  Template Parts: skip-links, header, menu, breadcrumbs, comments, footer
  Suggested Patterns: lsx-design/breadcrumbs, lsx-design/loop-default
  Keywords: attachment, media
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:heading {"level":2} -->
  <h2>Attachment</h2>
  <!-- /wp:heading -->

  <!-- wp:post-featured-image /-->
  <!-- wp:post-content /-->

  <!-- wp:heading {"level":3} -->
  <h3>Attachment details</h3>
  <!-- /wp:heading -->

  <!-- wp:template-part {"slug":"comments"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->