<!--
  Template: Author — Author Archive
  Title: Author — Author Archive
  Slug: author
  Description: Author archive template showing author profile (author-card-full via parts/author-card) and a Query Loop for posts by the author. Includes breadcrumbs, pagination and footer.
  Template Types: author, archive
  Block Types: core/author, core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1100
  Template Parts: skip-links, header, menu, breadcrumbs, author-card, loop-default, sidebar, footer
  Suggested Patterns: lsx-design/author-card-full, lsx-design/post-card, lsx-design/breadcrumbs
  Keywords: author, archive, profile
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:template-part {"slug":"author-card"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->
  <!-- wp:query-pagination /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->