<!--
  Template: Author — ID Specific
  Title: Author — ID Specific
  Slug: author-{id}
  Description: Author archive override for a specific author ID. Replace {id} with the author's numeric ID to target a specific author.
  Template Types: author, archive
  Block Types: core/author, core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1100
  Template Parts: skip-links, header, menu, breadcrumbs, author-card, loop-default, footer
  Suggested Patterns: lsx-design/author-card-full, lsx-design/post-card, lsx-design/breadcrumbs
  Keywords: author, id, archive
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
  Notes: Copy and rename to author-<id>.html to create an author-specific layout.
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:template-part {"slug":"author-card"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->
  <!-- wp:query-pagination /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->