<!--
  Template: Front Page — Static Landing
  Title: Front Page — Static Landing
  Slug: front-page
  Description: Dedicated front-page template for a static landing. Includes skip-links, header, primary menu area, breadcrumbs (optional), hero pattern, featured Query Loop or curated patterns, CTA banner and footer. Use when Settings → Reading uses a static page or to provide a bespoke landing layout.
  Template Types: front-page, index, home
  Block Types: core/cover, core/query, core/template-part, core/post-content
  Post Types: page
  Inserter: false
  Viewport Width: 1368
  Template Parts: skip-links, header, menu, breadcrumbs, hero, loop-default, cta-banner, footer
  Suggested Patterns: lsx-design/hero-page, lsx-design/query-grid-2col, lsx-design/cta-banner, lsx-design/breadcrumbs, lsx-design/breadcrumbs-yoast, lsx-design/breadcrumbs-woocommerce
  Keywords: front page, landing, hero, featured, cta
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:template-part {"slug":"hero"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:heading {"level":2} -->
  <h2>Featured</h2>
  <!-- /wp:heading -->

  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->

  <!-- wp:heading {"level":3} -->
  <h3>Get started</h3>
  <!-- /wp:heading -->

  <!-- wp:template-part {"slug":"cta-banner"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->