<!--
  Template: Home — Posts Index
  Title: Home — Posts Index
  Slug: home
  Description: Posts index / blog listing layout. Includes skip-links, header + menu, breadcrumbs, a Query Loop filtered to posts with pagination, optional sidebar, and footer. Use as the designated "Posts page" in Settings → Reading.
  Template Types: home, index
  Block Types: core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1200
  Template Parts: skip-links, header, menu, breadcrumbs, loop-default, sidebar, footer
  Suggested Patterns: lsx-design/query-list-1col, lsx-design/post-card, lsx-design/breadcrumbs
  Keywords: posts, blog, listing
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:heading {"level":2} -->
  <h2>Blog</h2>
  <!-- /wp:heading -->

  <!-- wp:columns {"align":"wide"} -->
  <div class="wp-block-columns alignwide">
    <div class="wp-block-column" style="flex-basis:66.66%">
      <!-- wp:pattern {"slug":"lsx-design/query-list-1col"} /-->
      <!-- wp:query-pagination /-->
    </div>
    <div class="wp-block-column" style="flex-basis:33.33%">
      <!-- wp:heading {"level":3} -->
      <h3>Sidebar</h3>
      <!-- /wp:heading -->
      <!-- wp:template-part {"slug":"sidebar"} /-->
    </div>
  </div>
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->