<!--
  Template: Index — Default Fallback
  Title: Index — Default Fallback
  Slug: index
  Description: Universal fallback template used when no more specific template exists. Includes skip-links, header (with menu), breadcrumbs, a generic Query Loop (uses patterns/lsx-design/loop-default or lsx-design/post-card), and footer. Acts as final fallback in the WP template hierarchy.
  Template Types: index
  Block Types: core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1200
  Template Parts: skip-links, header, menu, breadcrumbs, loop-default, footer
  Suggested Patterns: lsx-design/post-card, lsx-design/query-grid-2col, lsx-design/breadcrumbs
  Keywords: index, fallback, listing
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:heading {"level":2} -->
  <h2>Latest content</h2>
  <!-- /wp:heading -->

  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->

  <!-- wp:heading {"level":3} -->
  <h3>More from the archives</h3>
  <!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->