
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:heading {"level":2} -->
  <h2>Page layout</h2>
  <!-- /wp:heading -->

  <!-- wp:columns {"align":"wide"} -->
  <div class="wp-block-columns alignwide">
    <div class="wp-block-column" style="flex-basis:66.66%">
      <!-- wp:post-title /-->
      <!-- wp:post-content /-->
    </div>
    <div class="wp-block-column" style="flex-basis:33.33%">
      <!-- wp:heading {"level":3} -->
      <h3>Sidebar</h3>
      <!-- /wp:heading -->
      <!-- wp:template-part {"slug":"sidebar"} /-->
    </div>
  </div>
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
