
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search the site..."} /-->
  <!-- wp:heading {"level":1} -->
  <h1>Search results for: <!-- wp:search-query /--></h1>
  <!-- /wp:heading -->

  <!-- wp:heading {"level":2} -->
  <h2>Refine your search</h2>
  <!-- /wp:heading -->

  <!-- wp:pattern {"slug":"lsx-design/query-list-1col"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
