<!--
  Template: Taxonomy — Generic Term Archive
  Title: Taxonomy — Generic Term Archive
  Slug: taxonomy
  Description: Generic custom taxonomy term archive template showing term title and description, Query Loop scoped to the current term, pagination and footer. Use taxonomy-{taxonomy}.html or taxonomy-{taxonomy}-{term}.html for more specific terms.
  Template Types: taxonomy, archive
  Block Types: core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1200
  Template Parts: skip-links, header, menu, breadcrumbs, hero, breadcrumbs, loop-default, footer
  Suggested Patterns: lsx-design/hero-archives, lsx-design/post-card, lsx-design/breadcrumbs
  Keywords: taxonomy, term, archive
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:template-part {"slug":"hero"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->
  <!-- wp:query-pagination /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->