<!--
  Template: Taxonomy — Specific Term Override
  Title: Taxonomy — Specific Term Override
  Slug: taxonomy-{taxonomy}-{term}
  Description: Highly-specific taxonomy term template. Replace {taxonomy} and {term} with actual values (e.g., taxonomy-project_type-web). Use for tailored term pages with custom hero/featured content.
  Template Types: taxonomy, archive
  Block Types: core/query, core/template-part
  Post Types:
  Inserter: false
  Viewport Width: 1260
  Template Parts: skip-links, header, menu, breadcrumbs, hero, loop-default, footer
  Suggested Patterns: lsx-design/hero-archives, lsx-design/query-grid-2col, lsx-design/breadcrumbs
  Keywords: taxonomy, term, override
  Author: LSX Design Team
  Version: 1.0.0
  License: GPL-2.0-or-later
  Notes: Duplicate and rename for a specific term override.
-->
<!-- wp:template-part {"slug":"skip-links"} /-->
<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:template-part {"slug":"menu"} /-->
<!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:template-part {"slug":"hero"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
  <!-- Custom term-level layout -->
  <!-- wp:pattern {"slug":"lsx-design/query-grid-2col"} /-->
  <!-- wp:query-pagination /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->